<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>

    <div id="map-canvas-0pop"></div>
    <div id="fade-bg-0pop"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.0/underscore-min.js"></script>
    <!--<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=visualization"></script>
    <script src="https://s3.amazonaws.com/assets.offerpop.com/roblum/Content_API/maps_v2/script/rich-marker.js"></script>-->

    <script type="0popModal/template" id="modal-template-0pop">
        <div id="modal-0pop">
            <div class="modal-header-0pop"></div>
            <div class="modal-body-0pop"></div>

            <div class="modal-footer-0pop">
                <div class="caption-footer">
                        <a class="text-muted date-time" href="<%= platform_link %>" target="_blank">
                            <%= timestamp %> on <span><%= network %></span>
                        </a>
                    </div>

                <% if (currentItem.platform_ref){%>
                    <div class="pull-right">
                        <a class="tweet-action tweet-reply" href="https://twitter.com/intent/tweet?in_reply_to=<%= currentItem.platform_ref %>"></a>
                        <a class="tweet-action tweet-retweet" href="https://twitter.com/intent/retweet?tweet_id=<%= currentItem.platform_ref %>"></a>
                        <a class="tweet-action tweet-favorite" href="https://twitter.com/intent/favorite?tweet_id=<%= currentItem.platform_ref %>"></a>
                    </div>
                <% } %>
            </div>
        </div>
    </script>

    <script>
    if (window._) {
        console.log('_.=', _.VERSION)
    }
    </script>

    <script type="text/javascript">
    opopMapInfo = {
        campaign: 'CAMPAIGN_ID',
        heat: true,
        center: {
            lat: 40.7508095,
            long: -73.9887535
        },
        styles: 'styles go here'
    };

    var e = document.createElement('script');
    e.src = 'https://s3.amazonaws.com/assets.offerpop.com/roblum/noconflict/modular-gmaps.js';
    e.async = true;
    document.body.appendChild(e);
    </script>
</body>

</html>
